UI/GuiDatafiles/imagesets/tug_menu_elements_for_CEED.png
UI/GuiDatafiles/imagesets/TugMenus_for_CEED.imageset
UI/GuiDatafiles/looknfeel/TUGLook_looknfeel_for_CEED.looknfeel
UI/GuiDatafiles/schemes/TUGLook_scheme_for_CEED.scheme
